<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registracija uspešna</title>
<style type="text/css">
html, body {
	height: 100%;
}

body {
	margin: 0;
}

.container {
	background: linear-gradient(#0275d8, #5bc0de);
	font-family: sans-serif;
	font-weight: 100;
	position: absolute;
	padding: 20px;
	padding-bottom: 50px;
	top: 30%;
	transform: translate(8%, -50%);
	border:5px solid white;
	border-radius: 25px;
}

button {
	font-size: 25px;
	background-color: #07f747;
	position: absolute;
	left: 40%;
	border-radius: 5px;
}

button:hover {
	background-color: #5cb85c;
	cursor: pointer;
}

</style>
</head>
<body>
<div class="container">
<h1>Uspešno ste se registrovali na aplikaciju sistema za upravljanje ribolovnim vodama.</h1>
<p>Možete zatvoriti ovaj prozor i prijaviti se u aplikaciju sa vašim korisničkim imenom i lozinkom.</p>
<button type="button" 
        onclick="window.open('', '_self', ''); window.close();">Zatvori</button>
</div>
<body>
</html>