<div class="panel panel-primary">
    <div class="panel-heading">
        Ribolovne vode
    </div>
    <div class="table responsive">
        <div>{{pozdravnaPoruka}} Ocena nase aplikacije <fm-rating [rating]="5" (ratingClicked)="onRatingClicked($event)"></fm-rating></div>
        <!--Ovo je primer two-way bindinga; da bi se koristio ngModel mora se importovati FormsModule, ali je on deprecated u najnovijoj verziji angulara -->
        <div>
            Sta pise u inputu? {{filter}}
            <input type="text" id="input" [value]="doFilter()" (input)="onFilterChange($any($event.target).value)"/>
               
        </div>
        <!--Ovo je primer event bindinga-->
        <button (click)="toggleImages()">{{!imagesShown ? "Prikazi" : "Sakrij"}} slike ribolovnih voda</button>
        <table class="table" *ngIf="fishingAreas && fishingAreas.length">
            <thead>
                <tr>
                    <th>SLIKA</th>
                    <th>Naziv</th>
                    <th>Tip vode</th>
                </tr>
            </thead>
            <tbody *ngFor="let fishingArea of filteredFishingAreas">
                <tr>
                    <!--Ovo je property binding, prakticno isto sto i interpolacija (obadva su one-way), 
                        ako zelimo da dobijemo isti rezultat interpolacijom pisemo src="{{fishing_area.image}}"-->
                    <td>
                        <img [src]="fishingArea.image" [title]="fishingArea.name" [style.width.px]="imageWidth" 
                            *ngIf="imagesShown">
                    </td>
                    <!--Ovo je interpolacija: {{fishingArea.name}}-->
                    <!--Nacin da nam red u tabeli bude link ka stranici sa detaljima-->
                    <td><a [routerLink]="['/fishing-areas', fishingArea.id]">{{fishingArea.name}}</a></td>
                    <td>{{fishingArea.type | uppercase}}</td><!--Primer upotrebe pipe-a za formatiranje ispisa
                                                                    zgodno za  | currency:"RSD":"symbol":"1.2-2"--> 
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal" [hidden]="!isAddButtonVisible">Dodaj ribolovnu vodu</button>
        <div class="modal" id="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form (ngSubmit)="createFishingArea()" #form="ngForm">
                        <div class="modal-header">
                            <h5 class="modal-title">Nova ribolovna voda</h5>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">Naziv</label>
                                <input type="text" required name="name" class="form-control" [(ngModel)]="fishingArea.name" #name="ngModel">
                                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Ovo polje je obavezno</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Opis</label>
                                <textarea name="description" class="form-control" rows="5" [(ngModel)]="fishingArea.description"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Tip</label>
                                <select class="form-select" name="type" required [(ngModel)]="fishingArea.type">
                                    <option value="RIVER">Reka</option>
                                    <option value="LAKE">Jezero</option>
                                    <option value="POND">Bara</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Slika</label>
                                <input type="text" name="image" class="form-control" [(ngModel)]="fishingArea.image">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">Dodaj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
