<html>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Ribolovne vode
        </div>
        <div class="table responsive">
            <div>{{pozdravnaPoruka}}</div>
            <!--Ovo je primer two-way bindinga; da bi se koristio ngModel mora se importovati FormsModule -->
            <div>
                Sta pise u inputu? {{filter}}
                <input type="text" id="input" [(ngModel)]="filter" (input)="doFilter()"/>
                
            </div>
            <!--Ovo je primer event bindinga-->
            <button (click)="toggleImages()">{{!imagesShown ? "Prikazi" : "Sakrij"}} slike ribolovnih voda</button>
            <table class="table" *ngIf="fishingAreas && fishingAreas.length">
                <thead>
                    <tr>
                        <th>SLIKA</th>
                        <th>Naziv</th>
                        <th>Tip vode</th>
                    </tr>
                </thead>
                <tbody *ngFor="let fishingArea of filteredFishingAreas">
                    <tr>
                        <!--Ovo je property binding, prakticno isto sto i interpolacija (obadva su one-way), 
                            ako zelimo da dobijemo isti rezultat interpolacijom pisemo src="{{fishing_area.image}}"-->
                        <td>
                            <img [src]="fishingArea.image" [title]="fishingArea.name" [style.width.px]="imageWidth" 
                                *ngIf="imagesShown">
                        </td>
                        <!--Ovo je interpolacija-->
                        <td>{{fishingArea.name}}</td>
                        <td>{{fishingArea.type | uppercase}}</td><!--Primer upotrebe pipe-a za formatiranje ispisa
                                                                    zgodno za  | currency:"RSD":"symbol":"1.2-2"--> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</html>