<div class="container">
    <h1>Unesite trenutnu lozinku i novu lozinku</h1>
    <form (ngSubmit)="changePassword()" #form="ngForm">
        <div class="mb-3">
            <label class="form-label">Trenutna lozinka</label>
            <input type="password" class="form-control" name="oldPassword" required [(ngModel)]="passwordChangeRequest.oldPassword">
        </div>
        <div class="mb-3">
            <label class="form-label">Nova lozinka</label>
            <input type="password" class="form-control" name="newPassword" required [(ngModel)]="passwordChangeRequest.newPassword" #newPassword="ngModel" (ngModelChange)="checkIfPasswordsMatch()">
        </div>
        <div class="mb-3">
            <label class="form-label">Potvrdi novu lozinku</label>
            <input type="password" class="form-control" name="confirmPassword" required [(ngModel)]="confirmPassword" (ngModelChange)="checkIfPasswordsMatch()" />
            <div [hidden]="passwordsMatch || newPassword.pristine" class="alert alert-danger">Lozinke nisu jednake</div>
        </div>
        <button type="submit"  class="btn btn-primary" [disabled]="!form.form.valid || !passwordsMatch">Potvrdi</button>
    </form>
    <!--Dijalog o uspesnosti-->
    <button data-bs-toggle="modal" data-bs-target="#modal" hidden #openModal></button>
    <div class="modal" id="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{this.modalText}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="reloadPage()"></button>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="reloadPage()">Zatvori</button>
                </div>
            </div>
        </div>
    </div>
</div>
