<div class="container">
    <h1>Unesite trenutnu lozinku i novu lozinku</h1>
    <form (ngSubmit)="changePassword()">
        <div class="mb-3">
            <label class="form-label">Trenutna lozinka</label>
            <input type="password" class="form-control" name="oldPassword" [(ngModel)]="passwordChangeRequest.oldPassword">
        </div>
        <div class="mb-3">
            <label class="form-label">Nova lozinka</label>
            <input type="password" class="form-control" name="newPassword" [(ngModel)]="passwordChangeRequest.newPassword">
        </div>
        <button type="submit"  class="btn btn-primary">Potvrdi</button>
    </form>
</div>
