
<div>
    <h1>Vrste riba</h1>    
    <button type="button" class="btn btn-primary float-end m3-3" data-bs-toggle="modal" data-bs-target="#modal" [hidden]="!addFishButtonVisible"><i class="fa fa-plus"></i>&nbsp;Dodaj novu vrstu ribe</button>
    <table class="table table-striped align-middle" *ngIf="fishSpecies.length">
        <thead>
            <tr>
                <th>Slika</th>
                <th>Naziv</th>
                <th>Latinski naziv</th>
                <th>Kategorija</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let fish of fishSpecies">
            <tr>
                <!--Ovo je property binding, prakticno isto sto i interpolacija (obadva su one-way), 
                        ako zelimo da dobijemo isti rezultat interpolacijom pisemo src="{{fish.image}}"-->
                <td>
                    <img [src]="fish.image" [title]="fish.name" [style.width.px]="150">
                </td>
                <td>
                    <!--Ovo je interpolacija: {{fish.name}}-->
                    {{fish.name}}
                </td>
                <td>
                    {{fish.latinName}}
                </td>
                <td>
                    <!--Primer upotrebe custom pipe-->
                    {{fish.category | fishSpeciesPipe}}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="viewFishSpeciesDetails(fish.id)">Detalji</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal" id="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form (ngSubmit)="createFishSpecies()" #form="ngForm" [formGroup]="newFishForm">
                    <div class="modal-header">
                        <h5 class="modal-title">Dodaj novu vrstu ribe</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Naziv *</label>
                            <input type="text" required name="name" class="form-control" formControlName="name">
                            <div *ngIf="!newFishForm.get('name')!.valid && (!newFishForm.get('name')!.pristine || newFishForm.get('name')!.touched)" class="alert alert-danger">Ovo polje je obavezno</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Latinski Naziv *</label>
                            <input type="text" required name="latinName" class="form-control" formControlName="latinName">
                            <div *ngIf="!newFishForm.get('latinName')!.valid && (!newFishForm.get('latinName')!.pristine || newFishForm.get('latinName')!.touched)" class="alert alert-danger">Ovo polje je obavezno </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Kategorija *</label>
                            <select class="form-select" name="category" required formControlName="category">
                                <option value="NOBLE">Plemenita</option>
                                <option value="INDIGENOUS">Autohtona</option>
                                <option value="NON_NATIVE">Alohtona</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Minimalna dozvoljena veličina (cm)</label>
                            <input type="number" name="minSize" class="form-control" formControlName="minSize">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Maksimalno komada</label>
                            <input type="number" name="maxQuantity" class="form-control" formControlName="maxQuantity">
                        </div>
                        <div class="mb-3" [hidden]="permanentFishingBan">
                            <label class="form-label">Početak lovostaja</label>
                            <div class="input-group">
                                <input type="number" min="1" max="31" name="fishingBanStartDay" class="form-control" formControlName="fishingBanStartDay">
                                <select class="form-select" name="fishingBanStartMonth" formControlName="fishingBanStartMonth">
                                    <option value="1">Januar</option>
                                    <option value="2">Februar</option>
                                    <option value="3">Mart</option>
                                    <option value="4">April</option>
                                    <option value="5">Maj</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Jul</option>
                                    <option value="8">Avgust</option>
                                    <option value="9">Septembar</option>
                                    <option value="10">Oktobar</option>
                                    <option value="11">Novembar</option>
                                    <option value="12">Decembar</option>
                                </select>
                            </div>
                            <div *ngIf="startDateInvalid()" class="alert alert-danger">Nepravilan datum</div>
                        </div>
                        <div class="mb-3" [hidden]="permanentFishingBan">
                            <label class="form-label">Kraj lovostaja</label>
                            <div class="input-group">
                                <input type="number" min="1" max="31" name="fishingBanEndDay" class="form-control" formControlName="fishingBanEndDay">
                                <select class="form-select" name="fishingBanEndMonth" formControlName="fishingBanEndMonth">
                                    <option value="1">Januar</option>
                                    <option value="2">Februar</option>
                                    <option value="3">Mart</option>
                                    <option value="4">April</option>
                                    <option value="5">Maj</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Jul</option>
                                    <option value="8">Avgust</option>
                                    <option value="9">Septembar</option>
                                    <option value="10">Oktobar</option>
                                    <option value="11">Novembar</option>
                                    <option value="12">Decembar</option>
                                </select>
                            </div>
                            <div *ngIf="endDateInvalid()" class="alert alert-danger">Nepravilan datum</div>
                        </div>
                        <div class="mb-3">
                            <input type="checkbox" class="form-check-input" name="permanentFishingBan" formControlName="permanentFishingBan" (change)="permanentFishingBanChecked()">
                            <label class="form-check-label">Trajni lovostaj</label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Opis</label>
                            <textarea rows="5" name="description" formControlName="description" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Slika</label>
                            <input type="file" accept="image/*" name="image" #image class="form-control" formControlName="image" (change)="imageUpload(image)">
                        </div>                                                                 
                    </div>
                    <div class="modal-footer">
                        <div class="me-auto">* Obavezna polja</div>
                        <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid || imposibleDate">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button data-bs-toggle="modal" data-bs-target="#success-modal" hidden #openModal></button>
    <div class="modal" id="success-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Uspešno dodata vrsta ribe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="reloadPage()"></button>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="reloadPage()">Zatvori</button>
                </div>
            </div>
        </div>
    </div>
</div>
