<div class="container">
    <h1>Ribolovci sa zahtevima za izdavanje ribolovne dozvole</h1>
    <table class="table table-striped" *ngIf="licenseRequests.length > 0">
        <thead>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Tip dozvole</th>
            <th>Kategorija ribolovca</th>
        </thead>
        <tbody *ngFor="let request of licenseRequests">
            <tr>
                <td>
                    {{request.fishermanFirstName}}
                </td>
                <td>
                    {{request.fishermanLastName}}
                </td>
                <td>
                    {{request.type}}
                </td>
                <td>
                    {{request.category}}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="showFishermanDetails(request.fishermanId)">Detalji</button>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="acceptLicenseRequest(request.licenseId)">Potvrdi zahtev</button>
                </td>
                <td>
                    <button class="btn btn-secondary" (click)="rejectLicenseRequest(request.licenseId)">Odbij zahtev</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>