<div class="container">
    <h1>Ribolovci sa zahtevima za izdavanje godišnje ribolovne dozvole</h1>
    <table class="table table-striped">
        <thead>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Datum rođenja</th>
            <th>Kategorija ribolovca</th>
        </thead>
        <tbody *ngFor="let fisherman of fishermans">
            <tr>
                <td>
                    {{fisherman.firstName}}
                </td>
                <td>
                    {{fisherman.lastName}}
                </td>
                <td>
                    {{fisherman.dateOfBirth | date: "dd.MM.yyyy."}}
                </td>
                <td>
                    {{fisherman.category}}
                </td>
                <td>
                    <button class="btn btn-secondary">Detalji</button>
                </td>
                <td>
                    <button class="btn btn-secondary" (click)="acceptLicenseRequest(fisherman.id)">Potvrdi zahtev</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>