<div>
    <nav class="navbar navbar-expand navbar-dark bg-primary">  
            <a class="navbar-brand">
                <img src="../assets/plovak.png" height="32px" width="32px">
                Fishing Management
            </a>
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                <li *ngIf="!isLoggedIn">
                    <a class="nav-link" routerLink="">Početna strana</a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a class="nav-link" routerLink="fishing-areas">Ribolovne vode</a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a class="nav-link" routerLink="fish-species">Ribe</a>
                </li>
                <li *ngIf="role == 'ROLE_KEEPER'">
                    <a class="nav-link" routerLink="fishermans">Ribolovci</a>
                </li>
                <li *ngIf="!isLoggedIn">
                    <a class="nav-link" routerLink="registration">Registruj se</a>
                </li>
                <li *ngIf="role == 'ROLE_FISHERMAN'">
                    <a class="nav-link" routerLink="catch-form">Evidencija ulova</a>
                </li>
                <li *ngIf="role == 'ROLE_FISHERMAN'">
                    <a class="nav-link" routerLink="fisherman/{{correspondingTableId}}/catches">Ulovi</a>
                </li>
                <li *ngIf="role == 'ROLE_FISHERMAN'">
                    <a class="nav-link" routerLink="license">Dozvola</a>
                </li>
                <li *ngIf="role == 'ROLE_FISHERMAN'">
                    <a class="nav-link" [routerLink]="['reservations', correspondingTableId]">Rezervisani termini</a>
                </li>
                <li *ngIf="role == 'ROLE_ADMIN'">
                    <a class="nav-link" routerLink="license-requests">Zahtevi za dozvolu</a>
                </li>
                <li *ngIf="role == 'ROLE_ADMIN'">
                    <a class="nav-link" routerLink="keepers">Ribočuvari</a>
                </li>
                <li *ngIf="role == 'ROLE_KEEPER'">
                    <a class="nav-link" routerLink="fish-stocking">Poribljavanje</a>
                </li>
                <li *ngIf="role == 'ROLE_ADMIN'">
                    <a class="nav-link" routerLink="penalties">Registar prekršaja</a>
                </li>
                <li *ngIf="role == 'ROLE_FISHERMAN'">
                    <a class="nav-link" [routerLink]="['fisherman', correspondingTableId]">Profil</a>
                </li>
                <li *ngIf="role == 'ROLE_KEEPER'"> 
                    <a class="nav-link" [routerLink]="['keeper', correspondingTableId]">Profil</a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a class="nav-link" routerLink="change-password">Promena lozinke</a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a class="nav-link" (click)="logout()" style="cursor: pointer;">Odjava</a>
                </li>
            </ul>
    </nav>
</div>

<div class="container">
    <!--Na ovom mestu ce se prikazati view komponente ciju rutu smo odabrali, za to nam sluzi router-outlet direktiva-->
    <router-outlet></router-outlet>
</div>
