<div>
    <nav class="navbar navbar-expand navbar-light bg-light">  
            <a class="navbar-brand">Fishing Management</a>
            <ul class="nav nav-pills">
                <li><a class="nav-link" routerLink="">Početna strana</a></li>
                <li><a class="nav-link" routerLink="fishing-areas">Ribolovne vode</a></li>
                <li><a class="nav-link" routerLink="fish-species">Ribe</a></li>
                <li><a class="nav-link" routerLink="registration">Registruj se</a></li>
                <li><a class="nav-link" routerLink="catch-form">Evidencija ulova</a></li>
                <li><a class="nav-link" routerLink="license">Dozvola</a></li>
                <li><a class="nav-link" routerLink="license-requests">Zahtevi za dozvolu</a></li>
                <li><a class="nav-link" routerLink="keeper">Dodaj novog ribočuvara</a></li>
                <li><a class="nav-link" routerLink="keepers">Ribočuvari</a></li>
                <li><a class="nav-link" routerLink="change-password">Promena lozinke</a></li>
                <li><a class="nav-link" (click)="logout()">Odjava</a></li>
            </ul>
    </nav>
</div>

<div class="container">
    <!--Na ovom mestu ce se prikazati view komponente ciju rutu smo odabrali, za to nam sluzi router-outlet direktiva-->
    <router-outlet></router-outlet>
</div>
