<div class="card" *ngIf="fishSpecies">
    <div class="card-header">
        Vrsta ribe: {{fishSpecies.name}}
    </div>
    <div class="card-body">
        <form (ngSubmit)="updateFishSpecies()" #form="ngForm" [formGroup]="fishForm">
            <fieldset #fieldset disabled="disabled">
                <div class="mb-3">
                    <img src="{{fishSpecies.image}}" alt="{{fishSpecies.name}}" style="width: 500px;">
                </div>
                <div class="mb-3">
                    <label class="form-label">Naziv</label>
                    <input class="form-control" value="{{fishSpecies.name}}" required name="name" formControlName="name">
                    <div *ngIf="!fishForm.get('name')!.valid && (!fishForm.get('name')!.pristine || fishForm.get('name')!.touched)" class="alert alert-danger">Ovo polje je obavezno</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Latinski naziv</label>
                    <input class="form-control" value="{{fishSpecies.latinName}}" required name="latinName" formControlName="latinName">
                    <div *ngIf="!fishForm.get('latinName')!.valid && (!fishForm.get('latinName')!.pristine || fishForm.get('latinName')!.touched)" class="alert alert-danger">Ovo polje je obavezno </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Kategorija</label>
                    <select class="form-select" name="category" formControlName="category">
                        <option value="NOBLE">Plemenita</option>
                        <option value="INDIGENOUS">Autohtona</option>
                        <option value="NON_NATIVE">Alohtona</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Minimalna dozvoljena veličina</label>
                    <input class="form-control" type="number" value="{{fishSpecies.minSize}}" name="minSize" formControlName="minSize">
                </div>
                <div class="mb-3">
                    <label class="form-label">Maksimalno komada</label>
                    <input class="form-control" type="number" value="{{fishSpecies.maxQuantity}}" name="maxQuantity" formControlName="maxQuantity">
                </div>
                <div class="mb-3">
                    <label class="form-label">Maksimalna težina</label>
                    <input class="form-control" type="number" value="{{fishSpecies.maxWeight}}" name="maxWeight" formControlName="maxWeight">
                </div>
                <div class="mb-3">
                    <label class="form-label">Početak lovostaja</label>
                    <input class="form-control" type="date" value="{{banStart}}" name="fishingBanStart" formControlName="fishingBanStart">
                </div>
                <div class="mb-3">
                    <label class="form-label">Kraj lovostaja</label>
                    <input class="form-control" type="date" value="{{banEnd}}" name="fishingBanEnd" formControlName="fishingBanEnd">
                </div>
                <div class="mb-3">
                    <label class="form-label">Trajni lovostaj</label>
                    <input type="checkbox" class="form-check-input" [checked]="fishSpecies.permanentFishingBan" name="permanentFishingBan" formControlName="permanentFishingBan">
                </div>
                <button type="submit" class="btn btn-success" [hidden]="submitButtonHidden" [disabled]="!form.form.valid">Potvrdi izmenu</button>
            </fieldset>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="enableForm()" #changeButton [hidden]="!updateButtonVisible">Izmeni</button>
    </div>
</div>
