<div>
    <h1>Unesite podatke za registraciju</h1>
    <form (ngSubmit)="register()" #form="ngForm">
        <div class="mb-3">
            <label class="form-label">Imejl-adresa</label>
            <input type="email" class="form-control" name="username" required [(ngModel)]="registration.username" #username="ngModel">
            <div [hidden]="username.valid || username.pristine" class="alert alert-danger">Ovo polje je obavezno</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Lozinka</label>
            <input type="password" class="form-control" name="password" required [(ngModel)]="registration.password" #password="ngModel" (ngModelChange)="checkIfPasswordsMatch()">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Ovo polje je obavezno</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Potvrdi lozinku</label>
            <input type="password" class="form-control" name="confirmPassword" required [(ngModel)]="registration.confirmPassword" #confirmPassword="ngModel" (ngModelChange)="checkIfPasswordsMatch()">
            <div [hidden]="(confirmPassword.valid && passwordsMatch) || confirmPassword.pristine" class="alert alert-danger">Lozinke nisu jednake</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Ime</label>
            <input type="text" class="form-control" name="firstName" required [(ngModel)]="registration.firstName" #firstName="ngModel">
            <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">Ovo polje je obavezno</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Prezime</label>
            <input type="text" class="form-control" name="lastName" required [(ngModel)]="registration.lastName" #lastName="ngModel">
            <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Ovo polje je obavezno</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Datum rođenja</label>
            <input type="date" class="form-control" name="dateOfBirth" [(ngModel)]="registration.dateOfBirth">
        </div>
        <div class="mb-3">
            <label class="form-label">Adresa</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="registration.address"> 
        </div>
        <div class="mb-3">
            <label class="form-label">Grad</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="registration.city">
        </div>
        <div class="mb-3">
            <label class="form-label">Kategorija ribolovca</label>
            <select class="form-select" name="category" [(ngModel)]="registration.category" required>
                <option value="RECREATIONAL">Rekreativni</option>
                <option value="PROFESSIONAL">Profesionalni</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid || !passwordsMatch">Potvrdi</button>
    </form> 
    <button data-bs-toggle="modal" data-bs-target="#modal" hidden #openModal></button>
    <div class="modal" id="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{this.modalText}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="navigateOutside()"></button>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="navigateOutside()">Zatvori</button>
                </div>
            </div>
        </div>
    </div>
</div>
