<div>
    <h1>Unesite podatke za registraciju</h1>
    <form (ngSubmit)="register()" #form="ngForm">
        <div class="mb-3">
            <label class="form-label">Korisničko ime</label>
            <input type="text" class="form-control" name="username" required [(ngModel)]="registration.username" #username="ngModel">
            <div [hidden]="username.valid || username.pristine" class="alert alert-danger">Ovo polje je obavezno</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Lozinka</label>
            <input type="password" class="form-control" name="password" required [(ngModel)]="registration.password" #password="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Ovo polje je obavezno</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Ime</label>
            <input type="text" class="form-control" name="firstName" required [(ngModel)]="registration.firstName" #firstName="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Ovo polje je obavezno</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Prezime</label>
            <input type="text" class="form-control" name="lastName" required [(ngModel)]="registration.lastName" #lastName="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Ovo polje je obavezno</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Datum rođenja</label>
            <input type="date" class="form-control" name="dateOfBirth" [(ngModel)]="registration.dateOfBirth">
        </div>
        <div class="mb-3">
            <label class="form-label">Adresa</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="registration.address"> 
        </div>
        <div class="mb-3">
            <label class="form-label">Grad</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="registration.city">
        </div>
        <div class="mb-3">
            <label class="form-label">Kategorija ribolovca</label>
            <select class="form-select" name="category" [(ngModel)]="registration.category">
                <option value="RECREATIONAL">Rekreativni</option>
                <option value="PROFESSIONAL">Profesionalni</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">Potvrdi</button>
    </form> 
</div>
