<div class="container w-50 p-3">
    <h1>Unesite podatke za registraciju</h1>
    <form (ngSubmit)="form.form.valid && register()" #form="ngForm" novalidate>
        <div class="mb-3">
            <label class="form-label">Imejl-adresa *</label>
            <input type="email" class="form-control" name="username" required [(ngModel)]="registration.username" #username="ngModel" (ngModelChange)="checkIfEmailIsValid()" [ngClass]="{'is-invalid': username.errors && form.submitted, 'is-valid': (!username.errors && emailValid) && form.submitted}">
            <div *ngIf="username.errors && form.submitted" class="invalid-feedback">Ovo polje je obavezno</div>
            <div [hidden]="emailValid || username.pristine" class="alert alert-warning">Imejl-adresa mora biti u pravilnom formatu</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Lozinka * &nbsp;
                <span class="form-text"> (Mora imati najmanje 8 karaktera)</span>
            </label>
            <input type="password" class="form-control" name="password" required minlength="8" [(ngModel)]="registration.password" #password="ngModel" (ngModelChange)="checkIfPasswordsMatch()" [ngClass]="{'is-invalid': (password.errors || !passwordLengthOk) && form.submitted, 'is-valid': !password.errors && form.submitted}">
            <div *ngIf="password.errors && form.submitted" class="invalid-feedback">Ovo polje je obavezno</div>
            <div [hidden]="passwordLengthOk || password.pristine" class="invalid-feedback">Nedovoljno jaka lozinka. Lozinka mora imati najmanje 8 karaktera.</div>
            
        </div>
        <div class="mb-3">
            <label class="form-label">Potvrdi lozinku *</label>
            <input type="password" class="form-control" name="confirmPassword" required [(ngModel)]="registration.confirmPassword" #confirmPassword="ngModel" (ngModelChange)="checkIfPasswordsMatch()">
            <div [hidden]="(confirmPassword.valid && passwordsMatch) || confirmPassword.pristine" class="alert alert-danger">Lozinke nisu jednake</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Ime *</label>
            <input type="text" class="form-control" name="firstName" required [(ngModel)]="registration.firstName" #firstName="ngModel" [ngClass]="{'is-invalid': firstName.errors && form.submitted, 'is-valid': !firstName.errors && form.submitted}">
            <div *ngIf="firstName.errors && form.submitted" class="invalid-feedback">Ovo polje je obavezno</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Prezime *</label>
            <input type="text" class="form-control" name="lastName" required [(ngModel)]="registration.lastName" #lastName="ngModel" [ngClass]="{'is-invalid': lastName.errors && form.submitted, 'is-valid': !lastName.errors && form.submitted}">
            <div *ngIf="lastName.errors && form.submitted" class="invalid-feedback">Ovo polje je obavezno</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Datum rođenja</label>
            <input type="date" class="form-control" name="dateOfBirth" [(ngModel)]="registration.dateOfBirth">
        </div>
        <div class="mb-3">
            <label class="form-label">Adresa</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="registration.address"> 
        </div>
        <div class="mb-3">
            <label class="form-label">Grad</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="registration.city">
        </div>
        <div class="mb-3">
            <label class="form-label">Kategorija ribolovca *</label>
            <select class="form-select" name="category" [(ngModel)]="registration.category" required (change)="addFormField()">
                <option value="RECREATIONAL">Rekreativni</option>
                <option value="PROFESSIONAL">Privredni</option>
            </select>
        </div>
        <div class="mb-3" [hidden]="!professionalFishermanSelected">
            <label class="form-label">Broj u registru privrednih ribolovaca *</label>
            <input type="number" class="form-control" name="registryNumber" [(ngModel)]="registration.registryNumber" #registryNumber="ngModel" 
            [ngClass]="{'registry-number-entered': registration.registryNumber, 'registry-number-not-entered': !registration.registryNumber }"> <!--Primer dinamicke dodele klase html elementu u angularu-->
            <div *ngIf="registration.registryNumber == null && !registryNumber.pristine" class="alert alert-danger">Ovo polje je obavezno</div>
        </div>
        <div>* Obavezna polja</div>
        <br/>
        <button type="submit" class="btn btn-primary">Potvrdi</button>
    </form> 
    <button data-bs-toggle="modal" data-bs-target="#modal" hidden #openModal></button>
    <div class="modal" id="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{this.modalText}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="navigateOutside()"></button>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="navigateOutside()">Zatvori</button>
                </div>
            </div>
        </div>
    </div>
</div>
