<div class="container">
    <h1>Registrovani ribolovci</h1>
    <button class="btn btn-primary" (click)="getFishermansWithNonConfirmedCatches()">Ribolovci sa neevidentiranim ulovima</button>
    <div class="input-group mb-3">
        <span class="input-group-text">Pretraga</span>
        <input type="search" placeholder="Ime" (input)="filterFishermans()" class="form-control" [(ngModel)]="filterFirstName"/>
        <input type="search" placeholder="Prezime" (input)="filterFishermans()" class="form-control" [(ngModel)]="filterLastName" />
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Datum rođenja</th>
                <th>Ostali podaci</th>
                <th>Evidentirani ulovi</th>
            </tr>
        </thead>
        <tbody *ngFor="let fisherman of filteredFishermans">
            <tr>
                <td>
                    {{fisherman.firstName}}
                </td>
                <td>
                    {{fisherman.lastName}}
                </td>
                <td>
                    {{fisherman.dateOfBirth | date: "dd.MM.yyyy."}}
                </td>
                <td>
                    <button class="btn btn-secondary" (click)="fishermanDetails(fisherman.id)">Detalji</button>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="catchesOfFisherman(fisherman.id)">Prikaži ulove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>