<div class="container">
    <h1>Registrovani ribolovci</h1>
    <div class="input-group mb-3">
        <span class="input-group-text">Pretraga</span>
        <!--Ovo je kod za filtraciju, promenjeno je na pretragu tako da je ovaj kod ostavljen u rezervi-->
        <!-- <input type="search" placeholder="Ime" (input)="filterFishermans()" class="form-control" [(ngModel)]="filterFirstName"/>
        <input type="search" placeholder="Prezime" (input)="filterFishermans()" class="form-control" [(ngModel)]="filterLastName" />
        <select (change)="filterFishermans()" [(ngModel)]="filterCategory" class="form-select">
            <option>Sve kategorije</option>
            <option value="RECREATIONAL">Rekreativni</option>
            <option value="PROFESSIONAL">Privredni</option>
        </select> -->
        <input type="search" placeholder="Ime" class="form-control" [(ngModel)]="searchFirstName"/>
        <input type="search" placeholder="Prezime" class="form-control" [(ngModel)]="searchLastName"/>
        <select class="form-select" [(ngModel)]="searchCategory">
            <option value="-1">Sve kategorije</option>
            <option value="0">Rekreativni</option>
            <option value="1">Privredni</option>
        </select>
        <button class="btn btn-primary" (click)="searchFishermans(0)">Pretraži</button>
    </div>
    <nav>
        <ul class="pagination" >
            <!-- <li class="page-item"><a class="page-link" href="#">Prethodni</a></li> -->
            <li class="page-item" *ngFor="let page of pages">
                <a class="page-link" [ngClass]="{'active': page==currentPage}" (click)="changePage(page-1)">{{page}}</a>
            </li>
            <!-- <li class="page-item"><a class="page-link" href="#">Sledeći</a></li> -->
        </ul>
        <button class="btn btn-primary" (click)="getFishermansWithNonConfirmedCatches(0)"><i class="fa fa-search"></i> Ribolovci sa ulovima za potvrdu</button>
    </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Datum rođenja</th>
                <th>Važeća dozvola</th>
                <th>Evidentirani ulovi</th>
                <th>Podaci ribolovca</th>
            </tr>
        </thead>
        <tbody *ngFor="let fisherman of filteredFishermans">
            <tr>
                <td>
                    {{fisherman.firstName}}
                </td>
                <td>
                    {{fisherman.lastName}}
                </td>
                <td>
                    {{fisherman.dateOfBirth | date: "dd.MM.yyyy."}}
                </td>
                <td>
                    <button *ngIf="fisherman.license === undefined" class="btn btn-primary" (click)="checkFishermanLicenses(fisherman.id)">Provera važenja dozvole</button>
                    <div *ngIf="fisherman.license === true">Ima<img src="../../assets/confirmed.png"></div>
                    <div *ngIf="fisherman.license === false">Nema<img src="../../assets/rejected.png"></div>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="catchesOfFisherman(fisherman.id)">Prikaži ulove</button>
                </td>
                <td>
                    <button class="btn btn-secondary" (click)="fishermanDetails(fisherman.id)">Detalji</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>