<div class="card" *ngIf="fishingSpot">
    <div class="card-header">
        Ribolovno mesto broj {{fishingSpot.id}}
    </div>
    <div class="container">
        <div class="col">
            <div class="row">
                {{fishingSpot.type}}
            </div>
            <div class="row">
               
            </div>
        </div>
    </div>
    
</div>
<div id="map" style="height: 400px; width: 100%"></div>
<div class="container">
    <h5>Rezerviši termin</h5>
    <form (ngSubmit)="createReservation()">
        <div class="row">
            <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
              <input type="text"
                     placeholder="Datepicker"
                     class="form-control"
                     bsDatepicker
                     [isOpen]="true"
                     [bsConfig]="{containerClass:'theme-dark-blue'}"
                     [minDate]="minDate"
                     [datesDisabled]="datesReserved"
                     name="date"
                     [formControl]="date">
            </div>
          </div>
          <div>
            <button class="btn btn-primary" type="submit">Rezerviši</button>
          </div>        
    </form>
</div>
<div>
    <button data-bs-toggle="modal" data-bs-target="#success-modal" hidden #openModal></button>
    <div class="modal" id="success-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Evidentiranje ulova uspešno izvršeno</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="reloadPage()"></button>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="reloadPage()">Zatvori</button>
                </div>
            </div>
        </div>
    </div>
</div>
