<div class="container">
    <h1>Prekršaji ribolovca</h1>
    <h3 *ngIf="penaltiesOfFisherman.length == 0">Ribolovac nema registrovanih prekršaja</h3>
    <table class="table table-striped" *ngIf="penaltiesOfFisherman.length">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Izveštaj</th>
                <th>Ribočuvar</th>
                <th>Datum</th>
                <th>Ribolovna voda</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody *ngFor="let penalty of penaltiesOfFisherman">
            <tr>
                <td>
                    {{penalty.penaltyName}}
                </td>
                <td>
                    {{penalty.report}}
                </td>
                <td>
                    {{penalty.keeperName}}
                </td>
                <td>
                    {{penalty.date | date: "dd.MM.yyyy."}}
                </td>
                <td>
                    {{penalty.areaName}}
                </td>
                <td>
                    {{penalty.penaltyFine}}
                </td>
            </tr>
        </tbody>
    </table>
    <button data-bs-toggle="modal" data-bs-target="#modal" [hidden]="!keeperLoggedIn" class="btn btn-primary">Evidentiraj prekršaj</button>
    <div class="modal" id="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form (ngSubmit)="imposeAPenalty()" #form="ngForm" [formGroup]="imposePenaltyForm">
                    <div class="modal-header">
                        <h5 class="modal-title">Unesite podatke o načinjenom prekršaju</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Prekršaj *</label>
                            <select class="form-select" name="penalty" required formControlName="penaltyForm">
                                <option *ngFor="let p of penalties" [ngValue]="p">{{p.name}}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Zapisnik</label>
                            <textarea class="form-control" rows="5" formControlName="report"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Datum *</label>
                            <input type="date" class="form-control" required formControlName="date">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Ribolovna voda *</label>
                            <select class="form-select" name="area" required formControlName="area">
                                <option *ngFor="let a of areas" [ngValue]="a">{{a.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="me-auto">* Obavezna polja</div>
                        <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid" data-bs-dismiss="modal">Potvrdi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>