<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody *ngFor="let penalty of penaltiesOfFisherman">
            <tr>
                <td>
                    {{penalty.name}}
                </td>
                <td>
                    {{penalty.fine}}
                </td>
            </tr>
        </tbody>
    </table>
    <button data-bs-toggle="modal" data-bs-target="#modal">Evidentiraj prekršaj</button>
    <div class="modal" id="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form (ngSubmit)="imposeAPenalty()" #form="ngForm" [formGroup]="imposePenaltyForm">
                    <div class="modal-header">
                        <h5 class="modal-title">Unesite podatke o načinjenom prekršaju</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Prekršaj</label>
                            <select class="form-select" name="penalty" required formControlName="penaltyForm">
                                <option *ngFor="let p of penalties" [ngValue]="p">{{p.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">Potvrdi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>