<div>
    <h1>Ribočuvari</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Datum rođenja</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let keeper of keepers">
            <tr>
                <td>
                    {{keeper.firstName}}
                </td>
                <td>
                    {{keeper.lastName}}
                </td>
                <td>
                    <!--Primer upotrebe pipe-a za formatiranje ispisa.
                        Od ugradjenih postoje uppercase, lowercase, decimal, percent, currency
                        a mogu se praviti i custom pipe-ovi 
                        Zgodno za  | currency:"RSD":"symbol":"1.2-2"--> 
                    {{keeper.dateOfBirth | date: "dd.MM.yyyy."}}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="keeperDetails(keeper.id)">Detalji</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="addNewKeeper()">Registruj novog ribočuvara</button>
</div>
